body {
    color: #526066;
}

p {
    line-height: 1.6em;
}

h1 {
    letter-spacing: 0em;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
    max-width: 980px;
}

.l-box {
    padding: 0.5em 2em;
}

.pure-g-r {
    padding-top: 5em;
    padding-bottom: 5em;

}

.section {
    width: 100%;
    min-height: 500px;
}

/*
 * -- BANNER --
 */
.banner {
    height: 597px;
    width: 100%;
    background: #00aad4 url('logo.png') center 0 no-repeat fixed;
}

/*
 * -- MENU STYLES --
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    margin-bottom: 3em;
}

.pure-menu ul {
    margin: 0 auto;
    width: 650px;
    display: block !important;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #eee;
    color: #888;
    text-align: center;
}

.footer a {
    color: #ddd;
}

/*
 * -- CONTENT --
 */
.background-color {
    background: #F9F9F9;
}

.register-button {
    font-size: 150%;
    background: none repeat scroll 0 0 #02A6EB;
    color: #FFFFFF;
    margin-top: 100px;
}

#register {
    text-align: center;
}

/*
 * -- SPONSORS  --
 */
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

.pricing-tables h1{
    text-align: left;
}

.pricing-table {
    border: 1px solid #ddd;
    margin: 0.5em 0.5em;
}

/*.pricing-table-gold .pricing-table-header {*/
    /*background: #519251;*/
/*}*/

/*.pricing-table-silver .pricing-table-header {*/
    /*background: #2c4985;*/
/*}*/

.pricing-table-header {
    background: #CFCFCF;
    color: #fff;
}

.pricing-table-price {
    font-size: 3em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}

#map {
    height: 500px;
}

#events .pure-u-1-2:hover {
    background: #fcfcfc;
}

.upcoming {
    background: #519251;
    min-height: 175px;
}

.upcoming:hover {
    background: #5aa25a !important;
}

.upcoming p {
    color: #ddd;
}

iframe {
    overflow: hidden;
}

.day-table {
    max-width: 980px;
    border: 1px solid #ddd;
    margin: 1em auto;
    padding: 0 0 3em;
    background: #f7f7f7;
}

.day-table-header {
    background: #519251;
    color: #fff;
    text-align: center;
}

.day-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}

.day-table-date {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}

.day-table-date span {
    display: block;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}

.day-table-list {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.day-table-list li {
    padding: 0.8em 0;
    border-bottom: 1px solid #e7e7e7;
}

.day-table-list li span{
    display: block;
    float: left;
    font-size: 2em;
    margin: 0 0.2em;
    font-weight: 100;
    line-height: 1em;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(max-width: 767px) {

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 480px) {
    .banner {
        height: 200px;
    }
}
